@model IEnumerable<Expense>
@{
	ViewBag.Title = "Expenses";
}

@if (Model.Count() > 0)
{
	<a asp-action="Create" asp-controller="Expense">create an expense</a>
	<table style="width: 100%;">
		<tr style="width: 100%; background: Lightgrey;">
			<th>Title</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Frequency</th>
			<th></th>
			<th></th>
		</tr>
		@{
			bool rowBgColorSwitch = true;
		}
		@foreach (Expense item in Model)
		{
			<tr style="background: @(rowBgColorSwitch ? "white" : "lightgrey")">
				<td>@item.Title</td>
				<td>@item.Description</td>
				<td>@item.Amount.ToString("C2")</td>
				<td>@item.Frequency</td>
				<td><a asp-action="Edit" asp-controller="Expense" asp-route-id="@item.Id">Edit</a></td>
				<td><a asp-action="Delete" asp-controller="Expense" asp-route-id="@item.Id">Delete</a></td>
			</tr>
			rowBgColorSwitch = !rowBgColorSwitch;
		}
	</table>
}
else
{
	<h1>No data, please click <a asp-action="Create" asp-controller="Expense">here to create an expense</a></h1>
}